<div class="row browse">
  <h1 class="page-header">
    Test
  </h1>
  <input ng-model="viewmodel.filter" />
  <h2>Charities</h2>
  <card card-content='{"type":"asdf"}'></card>
  <!-- <card ng-repeat="charity in charities|filter:viewmodel.filter|limitTo:3" card-content='charity'></card>
  <h2>Portfolios</h2>
  <card ng-repeat="portfolio in portfolios|filter:viewmodel.filter|limitTo:3" card-content='portfolio'></card>
  <h2>Users</h2>
  <card ng-repeat="user in users|filter:viewmodel.filter|limitTo:3" card-content='user'></card> -->
</div>
